header {
  background-image:url(../img/mint.jpg);
}

/*!
font-color nav-bar
 */
.navbar-custom .nav li a, .navbar-custom {
  color: black;
}

/*!
background-color nav-bar, when you are on the top of the side. As soon as you scroll, the background color changes.
 */
@media only screen and (max-width: 768px) {
  .navbar-custom {
    background-color: transparent;
  }
}

/*!
nav-bar settings, with smaller devices. 
 */

@media (max-width: 768px) {
  .navbar-custom {
    background: #f6f6f6;
    padding: 5px 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
}

/*!
headlines bearbeiten
 */

section h2.section-heading {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  font-size: 37px;
  line-height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

section h3.section-subheading {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  text-transform: none;
  font-style: normal;
  font-weight: lighter;
  font-size: 23px;
  line-height: 25px;
  margin-top: 25px;
    margin-bottom: 75px;
}

header .intro-text .intro-lead-in {
  font-family: 'Open Sans', 'Roboto Slab', Lato, Montserrat; 
  font-style: initial;
  font-weight: lighter;
  font-size: 23px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  font-family: 'Open Sans', 'Roboto Slab', Lato, Montserrat; 
  font-weight: initial;
  font-size: 37px;
  line-height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
/*!
font-size responsive
 */

header {
  background-image:url(../img/mint.jpg);
}

/*!
font-size responsive
 */

header .intro-text .intro-heading {
  font-size: 3em;
}

/*!
background for contact-section + font-color for headings in the contact section (due to being white on light background)
 */
section#contact {
    background-image: none;
    background-color: #eeeeee;
    color: black;
} 
    

/*!
testing on the contact form- to make it appear as in our example
 */
.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: none;
    border-bottom: 2px solid dimgrey;
    border-radius: 0px;
}

/*!
heading text color defined as white in agency.min.css so changed to initial color value
*/
section#contact .section-heading {
  color: inherit;
}

    
/*!
font-color of example text, will aber irgendwie nichtr funktionieren... hier der link von wo ich es habe https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css/2610741#2610741
 */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#989;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#909;
   opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:#909;
}

/*!
You can ignore the try above, it doesn't work. The code below is from agency.css and only the color-value ist replaced. It works fine. You can play around with it. 
 */

section#contact ::-webkit-input-placeholder {
  font-family: 'Open Sans', 'Roboto Slab', Lato, Montserrat; 
  text-transform: uppercase;
  font-weight: normal;
  color: #909;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Open Sans', 'Roboto Slab', Lato, Montserrat; 
  text-transform: uppercase;
  font-weight: normal;
  color: #909;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Open Sans', 'Roboto Slab', Lato, Montserrat; 
  text-transform: uppercase;
  font-weight: normal;
  color: #909;
}
section#contact :-ms-input-placeholder {
  font-family: 'Open Sans', 'Roboto Slab', Lato, Montserrat; 
  text-transform: uppercase;
  font-weight: normal;
  color: #909;
}
.divalles{
    margin: 0 auto;
    margin-top: 150px;
    max-width: 900px;
    padding: 0 5%;
}
#logo{
    margin-left: 20px;
}

/* TEXT */
html, .root {
  font-size: 14px;
  line-height: 25px;
}
body, .article {
  font-family: 'Open Sans', 'Roboto Slab', Lato, Montserrat; 
  font-size: 14px;
  line-height: 25px;
}
h1 {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  font-size: 59px;
  line-height: 75px;
  margin-top: 25px;
  margin-bottom: 50px;
}
h2 {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  font-size: 37px;
  line-height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
h3 {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  font-size: 23px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 0px;
}
h4 {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  font-size: 14px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 0px;
}
h5 {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  font-size: 14px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 0px;
}
h6 {
  font-family: 'Roboto Slab', 'Open Sans', Lato, Montserrat; 
  font-size: 14px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 0px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 25px;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}