header {
  background-image:url(../img/mint.jpg);
}

/*!
headlines bearbeiten
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 300;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}


section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: normal;
  font-weight: lighter;
  margin-bottom: 75px;
}

header .intro-text .intro-lead-in {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: initial;
  font-weight: lighter;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: initial;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
    
/*!
font-size responsive
 */

header {
  background-image:url(../img/mint.jpg);
}

/*!
font-size responsive
 */

header .intro-text .intro-heading {
  font-size: 3em;
}

/*!
background for contact-section
 */
section#contact {
    background-image: none;
    background-color: #eeeeee;
}
    
/*!
font-color for headings in the contact section (due to being white on light background)
 */
section#contact .section-heading {
  color: black;
}
/*!
testing on the contact form- to make it appear as in our example
 */
.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: none;
    border-bottom: 2px solid dimgrey;
    border-radius: 0px;
 
}

/*!
background-color nav-bar, when you are on the top of the side. As soon as you scroll, the background color changes.
 */
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
  }
    
/*!
font-color nav-bar
 */
.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
  color: black;
}
    
/*!
font-color of example text, will aber irgendwie nichtr funktionieren... hier der link von wo ich es habe https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css/2610741#2610741
 */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}