header {
  background-image:url(../img/mint.jpg);
}


/*!
background for contact-section
 */
section#contact {
    background-image: none;
    background-color: white;
}
    
/*!
font-color for headings in the contact section (due to being white on light background)
 */
section#contact .section-heading {
  color: black;
}
/*!
testing on the contact form- to make it appear as in our example
 */
.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: none;
    border-bottom: 2px solid dimgrey;
    border-radius: 0px;
 
}

/*!
background-color nav-bar, when you are on the top of the side. As soon as you scroll, the background color changes.
 */
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
  }
    
/*!
font-color nav-bar
 */
.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
  color: black;
}
    
/*!
font-color of example text, will aber irgendwie nichtr funktionieren... hier der link von wo ich es habe https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css/2610741#2610741
 */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}